[2019-10-18 17:04] johngkhs opened #3 "Include Manual Installation Instructions in Readme"
Hi,

Would you be able to include the steps required to build the plugin from scratch from the command line? I tried ./gradlew buildPlugin, but I am missing the dependencies and I'm not familiar with the build process. The error is "Cannot use project ':acejump' as a plugin dependency. IntelliJ Plugin is not found."

Thanks.

[2019-10-18 17:13] AlexPl292 commented on #3
Hi!
The plugin has currently "in progress" state as mentioned in the description above. If you really like to test it, you need do clone IdeaVim and [this](https://github.com/acejump/AceJump/pull/307) pull request of AceJump into the IdeaVim-EasyMotion folder, fix all the shown gradle warnings (it mostly consist of removing library versions and highlighted script blocks) and call `./gradlew buildP

[2019-10-18 17:13] #3 closed

[2019-11-21 02:46] xbear23 opened #7 "It doesn't work？！"
I installed AceJump & IdeaVim-EasyMotion and added `set easymotion` to my ~/.ideavimrc，and then nothing happened. It just like normal AceJump。

[2019-11-21 03:41] ifnk opened #8 "can Support Chinese"
like   easymotion-chs [https://github.com/ZSaberLv0/vim-easymotion-chs](url)

Here's a Chinese sentence.
众所周知，中文是没有空格的，要是能有一个插件能支持中文光标跳转就好了！

if you press easymotion-s "z"(The initials of a Chinese character) ，The cursor will jump to "周" “知” “中” “支” front of these characters

![image](https://user-images.githubusercontent.com/39295458/66718380-d104fe00-ee15-11e9-9670-27edfab7dccd.png)

![image](ht

[2019-11-21 07:40] AlexPl292 commented on #7
Well, it should not be visually different. But now you can use it, for example, with `d` or `c` commands:
`d` + easymotion search. So, check the list of [supported commands](https://github.com/AlexPl292/IdeaVim-EasyMotion#supported-commands).

[2019-11-22 06:13] xbear23 commented on #7
Ok, I get it now, thanks！

[2019-11-22 10:06] #7 closed

[2019-11-25 07:51] AlexPl292 commented on #8
@breandan any chance AceJump will support Chinese?

[2019-11-25 08:14] breandan commented on #8
Interesting! I will look into it.

[2019-11-25 12:24] Skorpionos opened #9 "how does it work"
Alex, could you describe more specific, how exactly configure and use your plugin?
I'm sorry, but I just don't understand what means
"Plug (easymotion-f) | <leader><leader>f{char} +  mapped to fn".
Is " Plug " a keymap and where should I set it?

[2019-11-25 12:38] AlexPl292 commented on #9
Hi! Thank you for the feedback, I'll review the docs.
First of all, you have to follow the [setup](https://github.com/AlexPl292/IdeaVim-EasyMotion#setup) section.
You actually don't have to configure anything specific.
Check out the right column of the first table: `<leader><leader>f{char}` means that you have to press the `<leader>` key twice (it's `\` by default), then `f`, and then the char you

[2019-11-25 13:20] Skorpionos commented on #9
Alex, thank for your answer. Now I begin to understand ). Good idea to integrate with AceJump!
One more question. Is it possible to configure **EasyMotion** in such way how I asked in https://github.com/acejump/AceJump/issues/299. For example I want to go to next char "=" and I would like to press something like [Alt+F], [=]. I mean like "f" or "t" commands in vim, but it's possible to go to other

[2019-11-25 14:56] AlexPl292 commented on #9
Yes, I see the point, but the only thing I can think about is to search for the symbol with `/`. Looks like the `vim-sneak` plugin can achieve this behavior, but it's not emulated for now.

[2019-11-25 14:56] #9 closed

[2019-11-27 19:32] alonsorivera opened #10 "Enable vim jump behavior with <C-o>/<C-i>"
Hi,
It is possible to enable vim jump behavior with `<C-o>/<C-i>` to go back and forward to the previous position before jump? This means the plugin must save the position on vim jump list (`:jumps` command) before the motion. You can see this behavior in the original Vim EasyMotion plugin.

I did it some time ago with AceJumpLite plugin (compiled locally). It was something like that:

[code]

Tha

[2019-11-28 09:07] AlexPl292 commented on #10
Hi! Yes, this question has already been asked here, and we are thinking about a possible solution: https://github.com/acejump/AceJump/issues/312

[2019-12-04 11:27] jordigraumo opened #11 "easymotion-s2 repeats last command [bug]"
First of all, thanks for the plugging!

When using <Plug>(easymotion-s2)  and move somewhere on the screen, the  command following the motion, is executed 2 times instead of just 1. Example:

I have the cursor in []

H[e]llo world one two!

then use <Plug>(easymotion-s2) + "or" to move to

Hello w[o]rld one two!

then press "dw" to delete "orld" but instead it deletes "orld one" giving:

Hello wtw

[2019-12-09 14:18] tul opened #12 "Disable smartcase?"
Thanks for this plugin.

Is there a way to stop it highlighting jump targets that do not match the case of the search character I have entered? Currently, if I do `<leader><leader>fr` for example, it will show targets which are both `r` and `R`.

[2019-12-09 14:29] AlexPl292 commented on #12
Hi! As you can see in the last sentence of (this)[https://github.com/acejump/AceJump#acejump] section, AceJump search use `smartcase` search. Do you like to have an option to enable case-sensitive search?

[2019-12-10 11:44] arm-liang opened #13 "Add easymotion's jump to jump list"
I wonder if it can add Easymotion's jump to the `vim jumplist`, so I can use not only `'.` go back to last jump, but also `<C-o>` `<C-i>`.
It will be very helpful when editing multiple lines.

[2019-12-10 11:46] arm-liang commented on #13
So far, at least, Easymotion has broken the original jumplist.

[2019-12-10 11:48] AlexPl292 commented on #13
Hi! Thank you for the report. The similar issue has already been raised: #10

[2019-12-10 11:48] #13 closed

[2019-12-17 15:37] tul commented on #12
Yes please, that would be great :)

[2019-12-17 15:40] tul commented on #12
In Vim Easy motion, there is an option `EasyMotion_smartcase`. It defaults to 0, but in this implementation it is behaving like it is 1 without being set (due to AceJump's base behaviour I guess).

[2019-12-31 08:54] Zeta611 opened #14 "mapleader with comma doesn't work"
I have `let mapleader = ','` in my .ideavimrc, and it doesn't seem to be working with it.
When I use the default '\', it works great.
Is this a bug, or am I missing something?

[2020-01-04 13:33] amazingXiong opened #15 "leader +w problem"
![image](https://user-images.githubusercontent.com/48853137/71766275-26ded300-2f39-11ea-8be5-c080c0d6603d.png)

when i input `'<leader>' + w`
I want to the `RT`, but it have `r` and `t` ,if i input `r` and `t` ,cursor go to the `t` position.

[2020-01-09 02:55] Zeta611 commented on #15
Does mapping leader to other than `\` works at all, e.g., `let mapleader = ","`?

[2020-01-14 14:54] Oliveiras opened #16 "Still doesn't understand how it works"
I've installed IdeaVim + AceJump + IdeaVim-EasyMotion, as requested in the Setup section of the Readme.

I have `<leader>` mapped to `<space>` ( `let mapleader=' '` ). But when I press `<space><space>f` or `<space><space>w` nothing happens.

I have tried to map it to another key ( `nmap \ <Plug>(easymotion-w)` ), but still nothing happens.

Here is some lines from the output of my :map command:

[2020-01-16 07:31] AlexPl292 commented on #14
Hi! Do you have a declaration of `mapleader` before the usages of `<leader>`?
Could you also try to use `let mapleader = ","`?

[2020-01-16 07:32] AlexPl292 commented on #15
Hi! Thank you for the report. This is a known issue: https://github.com/acejump/AceJump/issues/310

[2020-01-16 07:32] #15 closed

[2020-01-16 07:35] AlexPl292 commented on #16
Hi! Could you please attach the log file? https://intellij-support.jetbrains.com/hc/en-us/articles/207241085-Locating-IDE-log-files

[2020-01-16 08:35] oemergenc commented on #9
I am facing the same problem, any progress on this? I followed the setup instructions, activated all Plugins, inserted `set easymotiion` in `.ideavimrc`, restarted IDE. Still no luck, nothing happens, when invoking `<leader><leader>f{char}` (my leader is also mapped to SPACE).

[2020-01-17 08:00] oemergenc commented on #16
Hi, i am facing exactly the same problem. I installed all plugin, inserted `set easymotion` in .ideavimrc, restarted ide, but somehow the ideavim-easymotion bindings do not work. Any progress on this?

The acejump plugin works by using the configuration mentioned here:
https://github.com/acejump/AceJump#configuring

However ideavim-easymotion bindings do not work?

[2020-01-20 19:31] alexxbb commented on #16
Same situation here, AceJump CTRL+; works, but this plugin seems like doesn't.

[2020-01-21 07:45] AlexPl292 commented on #16
@alexxbb since the `.ideavimrc` reads the file top-down, the initialization of easymotion happens before the command `set mapleader = ","`. Could you please put the `mapleader` command before the `set easymotion`?

[2020-01-21 07:47] AlexPl292 commented on #16
@oemergenc sorry for the late answer. Doesn't [this](https://github.com/AlexPl292/IdeaVim-EasyMotion/issues/16#issuecomment-576558104) answer help you?

[2020-01-21 08:37] oemergenc commented on #16
@AlexPl292 thank you very much, yes indeed, this solves the problem. Very nice, i was waiting a long time  to use easymotion in ideavim.

[2020-01-24 08:36] Zeta611 commented on #14
`let mapleader = ","` works like charm! Why does it work with double quotation marks but not with single quotes?

[2020-01-24 09:11] AlexPl292 commented on #14
Well, because the guy who programmed the parsed for IdeaVim didn't handle a single quotes case or something like that :)
I've filed an issue: https://youtrack.jetbrains.com/issue/VIM-1914

[2020-01-24 09:11] #14 closed

[2020-01-26 16:36] AlexPl292 commented on #16
@Oliveiras any updates on this issue?

[2020-01-28 14:31] Oliveiras commented on #16
[idea.log](https://github.com/AlexPl292/IdeaVim-EasyMotion/files/4122845/idea.log)

Sorry for late response.

I've attached the log file of today.
There some stacktraces on it. I think it may be helpful.

[2020-02-10 13:32] hujianxin commented on #9
@oemergenc Check whether you map `<leader><leader>` to other operations

[2020-02-11 07:15] AlexPl292 commented on #16
The stacktraces look a bit strange. Seems like your plugin installations are somehow corrupted. Could you please reinstall the plugins and try again?

[2020-02-17 13:22] prasant94 opened #24 "Region you jump over gets selected"
When I jump from point A to point B, all the text between those two points gets selected. Then I need to hit Esc to unselect before I can go into insert mode to type something. I'm not sure if this is a bug or if there's an option to disable this.

[2020-02-17 13:24] AlexPl292 commented on #24
It definitely shouldn't act like this. Are you sure you don't hold `Shift` during the jump or you are not in the visual mode before the jump? How do you perform jumping?

[2020-02-18 08:42] AlexPl292 commented on #10
Fixed with v.1.2

[2020-02-18 08:42] #10 closed

[2020-02-18 10:47] prasant94 commented on #24
Wow ok. Sorry, it's my bad. The jump labels are upper case so I've been holding `Shift` while I press the keys for jumping.

[2020-02-18 10:47] #24 closed

[2020-03-08 05:55] xiexingguang commented on #16
I aslo meet the same  problem , IdeaVim + AceJump + IdeaVim-EasyMotion all been installed.but it seems no work!!
my .ideavimrc file like this:
 let mapleader=","
 source ~/.vimrc
 set easymotion

[2020-04-11 14:34] could-be opened #31 "how to disable all default mapping of this plugins?"
how to disable all default mapping of this plugins?
I want only define those mappings that i need?
how to disable the defaulting mapping?
Is there a autocmd group idsable mapping that work for it?

[2020-04-11 15:34] AlexPl292 commented on #31
The plugin supports some of the original [options](https://github.com/AlexPl292/IdeaVim-EasyMotion#supported-options).
Please use `let g:EasyMotion_do_mapping=0`.

[2020-04-11 15:34] #31 closed

[2020-04-16 22:23] drericrobinson opened #32 "How can I remap (easymotion-f)?"
I'd like to remap `f` to run `(easymotion-f)` instead of using `<leader><leader>f`.

How can I do that?

I tried:
[code]

But that doesn't work.

[2020-04-19 18:30] zsolt-donca commented on #16
I also can't get this plugin work. I am on IntelliJ IDEA 2020.1 with the latest versions of the plugins.

[2020-04-26 22:41] Ganariya opened #33 "Not working `Ctrl + [` as `Esc`"
Hello!

[code]

If a cursor is there such that up example, and I press `\\f`then, easymotion can't find any characters, so I have to `Ctrl + [` or `Esc`.

However, `Ctrl+[` doesn't work and , I have to press `Esc` in distance.

How should I do, or is it some problem in source code?

Thank you!

[2020-04-27 05:26] AlexPl292 commented on #8
Starting v3.6.1 AceJump has initial support for Chinese. https://github.com/acejump/AceJump/issues/314#issuecomment-616654905
Since this issue is completely dependent on AceJump, I am closing this issue.

[2020-04-27 05:26] #8 closed

[2020-04-27 05:30] AlexPl292 commented on #16
@xiexingguang could you please try to remove `source ~/.vimrc`? IdeaVim has pretty simple vimscript parser which may be broken by complicated `.vimrc`.

Could you please attach the log and the content of `~/.ideavimrc`?

I'm closing this particular issue. If anybody has a similar problem, please create a new ticket.

[2020-04-27 05:30] #16 closed

[2020-04-27 06:00] AlexPl292 commented on #32
Hi! The config seems fine for me. Do you have anything else in the `~/.ideavimrc`? Could you please also attach the log (https://intellij-support.jetbrains.com/hc/en-us/articles/207241085-Locating-IDE-log-files)?

[2020-04-27 06:02] AlexPl292 commented on #33
Hi! Why do you need to press `Esc`? Are you trying to start easymotion from insert mode?
Could you maybe please attach a small screencast?

[2020-04-30 22:49] Ganariya commented on #33
Hello, @AlexPl292 !
Thank you for replying!

If I press `\ \ f 0`, the image below.

![](https://i.gyazo.com/3064e5278c0334764be5b703e6aa725a.gif)

However, I press`\ \ f 2`, the image below.

![](https://i.gyazo.com/b06a22ff2aa38725c0bc8a3fe81fc3c9.gif)

`f` commands try to find `2`, however, there is no `2`, so easymotion stops behaviour.
And, If I press `Ctrl + [ ( As Esc)` , cannot finish easy

[2020-05-01 11:05] AlexPl292 commented on #33
Aha, I see! Yep, this is a bug, thank you for the report.

[2020-05-05 18:03] xiaoouwang opened #34 "possibility to implement vim sneak ?"
vim easymotion is good at large-scale jump but sometimes I don't want to choose one among many options and just go to the first match.

In Vim I really like vim sneak plugin.  Basically it just go to the first 2 character match. And moreover it's repeatable with ; and , !

Is it possible to implement it in ideavim easymotion ? Really interesting it would be !

Tks for this amazing plugin

[2020-05-05 18:45] AlexPl292 commented on #34
Hi! IdeaVim has a feature request for this plugin. You can track it's status here: https://youtrack.jetbrains.com/issue/VIM-1915

[2020-05-05 18:45] #34 closed

[2020-05-08 09:45] huahuayu opened #35 "what's the default leader key?"
hi, I am new to easymotion, I never used it before in vim, but in vscode, I happened found when I press space, I get options to jump to, I think the function is called easymotion, because when I press space there's a word `EASYMOTION` comes to the bottom line.

So I search for the plugin in jetbrains, I use vim plugin in jetbrains. I want the same trick in jetbrains.

I have IdeaVim, AceJump, Idea

[2020-05-08 10:05] AlexPl292 commented on #35
Hey, the default leader key in vim and IdeaVim is `\`. You can remap it to space using `let mapleader=" "` in `~/.ideavimrc` file. Also, don't forget that you should add `set easymotion` to the same file.

[2020-05-08 13:37] rohitkrishna094 commented on #35
I was about to type this question as well. In my intellj I type backslash then I type a character that I want to go to, but its not working. I am new to vim, do I need to type leader twice? I tried that as well, but its not working either. Sorry this might sound like a stupid question, do you know exactly what characters I need to type to let easymotion to work?

I am doing this now:

\L

where L

[2020-05-09 09:56] huahuayu commented on #35
@AlexPl292
I have all the three plugins installed and enabled, and `set easymotion` added to `~/.ideavimrc`

restart webstorm 2020.1

![image](https://user-images.githubusercontent.com/1725060/81470530-c7ae0980-921d-11ea-8e9f-effb14d23a35.png)

**the problem:**
1. `\` key is not working
2. remap it to space using let mapleader=" " in ~/.ideavimrc also not working, press space key the cursor just g

[2020-05-12 09:01] AlexPl292 commented on #35
@huahuayu the leader key should be pressed twice. So, if you want, for example, jump to character `x` you should enter `\\fx`.
If it won't work for you, could you please attach log file? https://intellij-support.jetbrains.com/hc/en-us/articles/207241085-Locating-IDE-log-files

@rohitkrishna094 could you please attach the log file (see the link above)

[2020-05-12 09:31] huahuayu commented on #35
hi, @AlexPl292 finally I get to know how to use, `\\f` is the trick. I just tried, it works, great!

In retrospect, before you tell me to use `\\f[keyword]`I think two things made me confused, 1. which is the leader key? 2. I don't know the leader key `\` should press twice, AND followed by an `f`.

Could you please add them to the document, make other people's life a little bit easier :)

[2020-05-12 09:37] AlexPl292 commented on #35
Yes, definitely. Thank you very much for the issue, it made me understanding that the documentation should be improved.

[2020-05-12 09:48] huahuayu commented on #35
Thank you for your support! I read the document again, there's actually a key list. But unfortunately, I can't understand in the first place.

I suggest a short use a video (with [keycastr](https://github.com/keycastr/keycastr) will be even better)  or gif animation to demonstrate the feature will be good.

[2020-05-12 23:38] rohitkrishna094 commented on #35
@AlexPl292 Idk what happened, but after remapping the leader, it's working now. Thanks.

[2020-05-25 06:48] #35 closed

[2020-05-25 08:35] #33 closed

[2020-05-26 12:07] nkgrnkgr opened #36 "Cannot map <leader> to <space> Key."
I wrote this setting in ideavimrc.
But I cannot map leader to <space> key.

 ~/.ideavimrc
[code]

[2020-05-26 12:14] AlexPl292 commented on #36
Try to replace `let mapleader="\<space>"` with `let mapleader=" "`

[2020-05-26 12:30] nkgrnkgr commented on #36
Thank you!
I could map <leader> to " " Key!

[2020-05-26 12:30] #36 closed

[2020-06-11 23:16] fredfortier opened #37 "Disable Text Selection"
With any motion command, lls for example, the text between my original cursor position and the target gets automatically selected. Is there a way to disable this? I just want to jump, not always select text along the way.

[2020-06-12 10:48] AlexPl292 commented on #37
Do you use an uppercase letters when you enter tags? You should use them in lowercase.

[2020-06-12 21:13] #37 closed

[2020-07-06 21:21] mario-mazo opened #38 "disabling mappings"
Hello

in vscode I have <ll> bdw mapped to space
and when it shows lets say HH when I press H then highlights all the Hs and then you type the second H and you move to that word.

Here the behavior is different.
first <ll> bdw doesnt work and when you have like HH you type the the first H it starts looking for words that start with h and highlight some words are somewhere in the file, the when you

[2020-07-07 07:47] AlexPl292 commented on #38
Hi! Unfortunately, this is an issue in AceJump plugin: https://github.com/acejump/AceJump/issues/310

[2020-07-08 03:37] zyf0330 opened #39 "marks appear slow and lag when jump"
When using features like jump to lines or search to jump, marks appear slowly at the first time or stop using after a while. Also, there is lag after type letters to jump.

Using AceJump directly is not so slow and more smooth.

[2020-08-24 13:23] installH opened #40 "光标定位有BUG"
当搜索记录中有SE和E是，输入se会定位到E上

[2020-08-25 07:05] AlexPl292 commented on #40
Hi! Unfortunately, I don't understand Chinese and my translator gives me senseless translation. Could you please translate your request to English?

[2020-08-28 11:52] technoplato opened #41 "Use EasyMotion commands as arguments not working as expected"
Hey, awesome plugin! Thank you very much.

I think I might be doing something wrong with my mapping that's causing a bug.

### Picture is worth 1,000 words
![ios](https://user-images.githubusercontent.com/6922904/91578112-b8131780-e917-11ea-9b9f-645637b8c082.gif)

I have these two EasyMotion mappings in my .ideavimrc:

[code]

**I expect than when I press** `df` that then the yellow targets will s

[2020-08-28 11:53] technoplato commented on #41
<details>
  <summary>Entire .ideavimrc if relevant</summary>

[code]
</details>

[2020-08-31 07:02] AlexPl292 commented on #41
Hi!
`df` command doesn't work because you use `nmap`. This mapping works only for normal mode. You should use `omap` to make it work with `d` command: `omap f <Plug>(easymotion-s)`. You write that the command works as `d<leader>f` instead, but I could not reproduce this behaviour. Could you please recheck it all with `omap`?

Also, you've attached a screenshot that seems to describe a different is

[2020-08-31 17:44] technoplato commented on #41
Sorry for the confusing description. Let me try again: https://www.youtube.com/watch?v=82Joq4Nw35A&feature=youtu.be

I've made the changes you suggest in my ~/.ideavimrc and I'm still having an issue where everything between the cursor and destination is altered. Please let me know if this video doesn't make the issue clearer.

[2020-09-02 05:10] buyou0821 commented on #40
same issue.

![image](https://user-images.githubusercontent.com/37977488/91933672-0f502800-ed1c-11ea-9184-1e9f0df0e6fd.png)
There are `U` and `HU`.When I press `H`. There will be two U. How do I jump to the second U?

[2020-09-07 02:27] buyou0821 opened #42 "cursor bug"
![image](https://user-images.githubusercontent.com/37977488/91933672-0f502800-ed1c-11ea-9184-1e9f0df0e6fd.png)
There are `U` and `HU`.When I press `H`. There will be two U. Now I can only jump to the position of the first `U`.How do I jump to the second U?

[2020-09-07 02:59] buyou0821 commented on #42
WebStorm 2020.2.1
Build #WS-202.6948.73, built on August 25, 2020
Runtime version: 11.0.8+10-b944.31 x86_64
VM: OpenJDK 64-Bit Server VM by JetBrains s.r.o.
macOS 10.14.3
GC: ParNew, ConcurrentMarkSweep
Memory: 990M
Cores: 4

[2020-09-15 16:03] qwIvan opened #43 "Linux下会导致fcitx崩溃，如何调试？"

[2020-11-06 23:04] tommyc38 opened #44 "Line motions don't work for me - easymotion-sl"
WebStormV2020.2.3

It lights up and highlights the characters as expected but drops me to the line below. All others seem to work (eg. j, k, etc.)

[2020-11-07 02:09] tommyc38 commented on #44
Found the issue.  I had an `<cr>` at the end of my mappings.

[2020-11-07 02:09] #44 closed

[2021-01-18 07:28] #32 closed

[2021-01-18 07:29] #38 closed

[2021-01-18 07:29] #40 closed

[2021-01-18 07:34] AlexPl292 commented on #43
Hi! The official language of the repository is English and, unfortunately, we don't accept issues with Chinese description. Feel free to reopen the issue with an English translation.

[2021-01-18 07:34] #43 closed

[2021-01-19 11:17] rbhanot4739 opened #47 "Does not jump to occurrence if there is exactly 1 match"
Idea-easymotion does not jump to the matched character even if it is the only match, you always have to press that extra key to jump to it which is redundant.
 Here are my setting for this plugin.

[code]

[2021-01-23 15:33] AlexPl292 commented on #11
As far as I understand, this issue was fixed by the last refactoring of mappings in IdeaVim code. Feel free to reopen it in case of any additional issues.

[2021-01-23 15:33] #11 closed

[2021-01-31 01:11] daya0576 commented on #47
+1 same issue here

[2021-02-04 12:55] Vozf commented on #47
@AlexPl292, Are there any plans on this? It would be pretty cool

[2021-02-04 13:01] Vozf opened #48 "Suggestions missing sometimes"
I have such mapping
[code]
I have code like this, I'm on the first line and I want to the section `coremltools`
![image](https://user-images.githubusercontent.com/22998537/106895821-c143b400-6701-11eb-8157-b1e1ecd1ab80.png)
Then I press `q` and press letter `c` - everything fine
![image](https://user-images.githubusercontent.com/22998537/106895975-fb14ba80-6701-11eb-821a-8c64d15da9cb.png)
Then I p

[2021-02-19 18:17] mgartner opened #50 "single leader mapping does not work for <Plug>(easymotion-s) command"
With a `.ideavimrc` of:

[code]

When I type `,w` the easymotion plugin executes `<Plug>(easymotion-w)`. But when I type `,s` it does not execute `<Plug>(easymotion-s)`. Oddly, `,,s` does execute `<Plug>(easymotion-s)`.

[2021-03-03 00:35] martindzejky opened #52 "Disabling default key mappings does not work"
Hi! In my `.ideavimrc` I have these settings:

[code]

and it does not work as expected. Despite the fact that I'm trying to disable easemotion's default bindings with `let g:EasyMotion_do_mapping=0`, it still overrides (and breaks) my `<Leader><Leader` mapping! 😞

Is this a bug or am I doing something wrong?

[2021-03-04 12:58] martindzejky commented on #52
Note that I also tested

[code]

and it does not work either.

[2021-04-04 05:14] nomanous opened #53 "The plugin makes IdeaVim unable to enter normal mode using ESC"
I install this plugin and find that ESC for IdeaVim to switch from insert mode to normal mode doesn't work anymore after the installation. I have done some experiments. Every time I disable this plugin, IdeaVim's function resume, so I think it's this plugin's bug. I use IntelliJ IDEA ~~2021.3.3~~ 2020.3.3 and IdeaVim 0.65.

[2021-04-04 06:04] Cosmic-Goat commented on #53
I'm getting the same issue, also using IdeaVim 0.65 and IntelliJ 2020.3.3. (I'm assuming you meant 2020 instead of 2021?)

[2021-04-05 10:00] AlexPl292 commented on #53
Hi! Please try ot update to the latest version (`1.5`)

[2021-04-05 10:00] #53 closed

[2021-04-08 08:24] g199209 opened #54 "`easymotion-sl` can not work as expect after upgrading to 1.5"
When I use `easymotion-sl`, I expect to search something in this line. This function works well in EasyMotion 1.4 & AceJump 3.6.3.

But when I upgrade to  EasyMotion 1.5 & AceJump 3.7 a few days ago, this function can not work.  `easymotion-sl` has the same behavior as `easymotion-s`, which will search the full screen text.

I think this shoud be a bug.

1.4:

![1 4](https://user-images.githubuser

[2021-04-08 08:32] AlexPl292 commented on #54
Hi! AceJump did a really big release with a lot of changes and we were not ready for this. The current release (1.5) was done just to fix the compatibility issues and at the moment I am working on restoring the correct functionality.

[2021-04-08 10:02] g199209 commented on #54
@AlexPl292 Looking forward for your next release :)

[2021-04-25 06:36] BXBaskershu opened #55 "acejump 3.7.1 and pycharm error"
**Describe the bug**
After upgrading to 3.7.1, an error occurs when using the jump function, and the code cannot be modified unless restarted

**To Reproduce**
Steps to reproduce the behavior:
1. enter `<lead><lead><b>`
2. enter character jump to target
3. See error

**Screenshots**
![image](https://user-images.githubusercontent.com/49138329/115982591-08d62f80-a5cf-11eb-9d10-60080386c823.png)
[cod

[2021-04-25 09:56] AlexPl292 commented on #55
Hi! Just released a new IdeaVim-EasyMotion version. Please update to v1.6.

[2021-04-25 09:56] #55 closed

[2021-04-25 09:57] AlexPl292 commented on #54
Hi! Please update to the latest versions of AceJump (3.7.1) and IdeaVim-EasyMotion (1.6).

[2021-04-25 09:57] #54 closed

[2021-04-25 09:58] BXBaskershu commented on #55
thank you very much

[2021-04-28 16:51] meseck opened #56 "EasyMotion commands as an argument for 'd' or 'c' don't work anymore"
For me, it only selects the area between the last cursor position and the jump target.

![](https://user-images.githubusercontent.com/34334994/116442254-92e1fa80-a852-11eb-8d76-04214110d3fc.gif)

I've already read that the new AceJump release has broken some things. Is this maybe on of the things?

[2021-04-29 06:34] AlexPl292 commented on #56
Hi! With the new releases of AceJump (3.7.1) and IdeaVim-EasyMotion (1.6) everything should work correct. Could you please specify what keys do you press on the gif?

[2021-04-29 06:48] 5wuuy5 commented on #39
I  find this problem also. When I search to jump, the mark appears very slowly.

Using Acejump will be very smooth.

So when I  search to jump, I use `ctrl + ; .`

Hope it can be fixed.

[2021-04-29 10:49] fools-mate commented on #56
Hello, thank you for the quick reply!

I used 'd\<leader\>j' in this case and this is mapped to '<plug>(easymotion-j)'. In nvim it works just fine with this configuration:

[code]

[2021-04-30 16:03] Jacob3075 commented on #52
Same thing happens for me, easy motion <leader><leader> mapping is not removed. But if I

- open by ideavimrc file
- make some changes
- reload ideavimrc

my mapping for <leader><leader> is loaded. Have to do this everytime I open a project.
Currently on IDEA 2021.1 Ultimate

[2021-04-30 16:21] Jacob3075 commented on #52
As far as I understand this plugin is just a wrapper around your AceJump plugin, so if I disable the easymotion plugin and just manually map the keys my-self will loss any features?

[2021-05-04 15:04] brunuh commented on #56
I'm experiencing the same issue, and have AceJump 3.7.1 and IdeaVim-EasyMotion 1.6 as well.

I'm mostly using: `d<leader><leader>w` (followed by the easymotion shortcut), and does nothing. It does leave the `d` command left behind as any follow up motion removes whatever that motion includes.

Worth noting that I've noticed this failing for a couple of weeks by now.

[2021-05-08 09:29] tristone13th opened #58 "Is there a way to just highlight the options in current view?"
When press the <leader><leader>e/w in any position, it will list all the options although some of them (or most) are out of the view (such as the last line), which results in a waste of characters. most time we must press two characters to jump to the target. Is there a way to just list all the options in the current view?

[2021-05-29 16:27] technoplato commented on #41
Just wanted to pop in and note that I was holding shift (as the letters indicated were capitalized) and I was therefore highlighting from the current position. Typing the letters without holding shift resolves this issue and I feel dumb. Thanks for an awesome port!

[2021-05-29 16:27] #41 closed

[2021-06-22 08:37] rbhanot4739 commented on #56
+1 same issue for me as well. Using the latest version of IntelliJ, IdeaVim, AceJump and IdeaVim-EasyMotion

[2021-07-04 07:58] ifnk opened #62 "can support edit with easymotion"
easymotion only move or c ,d ,y <Plug>easymotion
i find a  plugin can  Cut/Move/Replace without selection ,it likes easymotion ,here is url [https://github.com/whunmr/emacsIDEAs](url)
but ist  not update in 2018 ,and i can use it in webstorm,but But it doesn’t work in the rider
can IdeaVim-EasyMotion support it ?

[2021-07-27 06:21] rbhanot4739 commented on #47
@AlexPl292 can you please let us know if this can be prioritised any time soon.

[2021-07-27 06:22] rbhanot4739 commented on #56
@AlexPl292 Can you please let us know when can this be targetted for a fix, this is sort of a deal breaker when using easy-motion. Easy-motion feels way too ineffective without this bug fix.

[2021-10-03 05:23] muyuxunqing opened #69 "Question related to "EasyMotion commands as an argument for 'd' or 'c' ""
"(cursor)set easymotion"
First operation "**dfo**" is fine
But second operation "**d\<leader\>\<leader\>fmoa**" doesn't work well. The string "set easym" is not deleted, but selected and The bottom right corner shows VIM in "d" status.

![EasyMotion](https://user-images.githubusercontent.com/48301886/135740430-cfd1b3e9-2ae0-4fa8-8e18-87b17fd4f2e0.gif)

My environment：
IntelliJ IDEA 2021.2.2
AceJum

[2021-10-14 06:25] zhaohongxuan commented on #56
same issue now

[2021-11-16 20:45] dayoffrettchen commented on #56
same issue. Looked into sneak but the . command is broken.

[2021-11-22 11:11] pindab0ter commented on #69
I'm having the same issue. Is this misconfiguration or a bug?

[2021-11-22 11:13] pindab0ter commented on #56
Same issue here.

[2021-12-08 21:50] ljohnston commented on #50
There's definitely something weird with regard to the handling of easymotion prefix.

When doing `set easymotion` in `.ideavimr`, you will get a mapping of `<Leader><Leader> <Plug>(easymotion-prefix)` and a subsequent mapping of any other key to `<Plug>(easymotion-prefix)` does _not_ remove the original mapping. So, in your case, I'd expect if you did a `:map` you'd see both mappings:
[code]
I don

[2021-12-08 22:21] ljohnston commented on #52
Seems like a bug.

[2021-12-31 02:10] afezeria commented on #56
same issue now.
AceJump (3.8.5) and IdeaVim-EasyMotion (1.6)

[2022-01-07 22:32] martindzejky commented on #52
@Jacob3075 one important thing you will lose is to map the easymotion action only while in normal mode. 😞

[2022-01-08 05:38] Adir-Shemesh commented on #52
Hey! I opened a pull request to solve this a while ago:

https://github.com/AlexPl292/IdeaVim-EasyMotion/pull/72

Until it's approved and merged, my fork can be used

[2022-01-10 09:47] martindzejky commented on #52
@Adir-Shemesh that's great, but how can I use your fork in my Webstorm? I don't see any other `IdeaVim-Easemotion` plugin in the marketplace.

[2022-01-10 09:58] Adir-Shemesh commented on #52
I didn't upload it to the marketplace, just built it myself and selected the resulting zip in `Plugins > gear icon > install plugin from disk`

If you don't want to build it yourself, here is my zip:
[IdeaVim-EasyMotion-1.6.zip](https://github.com/AlexPl292/IdeaVim-EasyMotion/files/7837996/IdeaVim-EasyMotion-1.6.zip)

[2022-01-10 11:49] Adir-Shemesh commented on #52
I have submitted the fork to the marketplace, but it's still pending approval:

https://plugins.jetbrains.com/plugin/18375-ideavim-easymotion-prefix-fork

[2022-01-11 07:48] martindzejky commented on #52
@Adir-Shemesh it works!

[2022-01-12 11:52] Adir-Shemesh commented on #52
That's awesome to hear! :smile:
The fork was also approved in the marketplace, so it can be installed from there in the future

[2022-01-19 05:00] zyf0330 commented on #12
Is #39 related to this issue?

[2022-01-19 05:02] zyf0330 opened #73 "`map <Leader>n <Plug>(easymotion-next)` doesn't work"
I use `map <Leader>n <Plug>(easymotion-next)` mapping and use it, but actual behavior is one character is deleted.

[2022-01-19 05:03] zyf0330 commented on #12
I set `let g:EasyMotion_smartcase = 1`, but `<Leader>n` just searchs same characters as what I input, doesn't respect `smartcase`.

[2022-01-20 08:33] AlexPl292 commented on #52
The fix was merged and will be provided with the next release. Thank you @Adir-Shemesh !

[2022-01-20 08:33] #52 closed

[2022-01-20 11:59] AlexPl292 commented on #50
Hi folks, I've released a new version of IdeaVim-EasyMotion with several fixes regarding the mappings.
The fact is that if `~/.ideavimrc` contains a mapping to `<Plug>(easymotion-prefix)`, the default mappings should not be created.
Could you please check your use cases? I've tried ot reproduce the issue with `,w` and `,s`/`,,s` mappings, but I'm not sure if I understood you correctly. Is it the f

[2022-01-20 11:59] #50 closed

[2022-01-20 17:44] ljohnston commented on #50
Hi @AlexPl292 - Thanks for the new release! Doing some quick testing, looks like this issue is resolved! Thanks again!

[2022-04-12 13:09] cychen2021 opened #76 "The 1.7 version is incompatible with IntelliJ IDEA 2021.3.3, IdeaVim 1.10.1, and AceJump 3.8.7 now"
I set
[code]
in my  `.ideavimrc`. After I press `<leader>s` in the normal mode, it behaves abnormally: for example, if the line is as follows
[code]
it will modify the line to
[code]
and switch to the insert mode.

[2022-05-27 11:41] krishanunayak commented on #56
5 months later, still broken! :(

[2022-05-27 11:46] krishanunayak commented on #73
Same thing happening with me.

[2022-05-27 16:02] AlexPl292 commented on #56
Hi folks, this should be fixed in 1.8 release (with IdeaVim 1.10.+).

[2022-05-27 20:27] #56 closed

[2022-05-28 18:57] AlexPl292 commented on #73
Folks, unfortunatelly, `<Plug>(easymotion-next)` is not yet supported

[2022-06-01 10:50] kiddoliu opened #79 "ideavim doesn't work."
when I install acejump and ideaVIm-EasyMotion. after restart idea, ideavim doesn't work.

[2022-06-02 03:36] kiddoliu commented on #79
plugin screencasts
![image](https://user-images.githubusercontent.com/94882723/171547641-b12a625c-afb4-4d78-a99d-0955c31c4c0a.png)
![image](https://user-images.githubusercontent.com/94882723/171547692-38f6217b-7591-4a46-9812-c99973898c4f.png)
this is my idea.log

[idea.log](https://github.com/AlexPl292/IdeaVim-EasyMotion/files/8820502/idea.log)
this is my plugins screencasts

if I add "Plug 'easym

[2022-06-02 07:20] AlexPl292 commented on #79
Hi, it seems like we've released the last version of IdeaVim-EasyMotion with a wrong compatibility range. The new version of the plugin (1.8) is compatible with IJ 2021.3+, but you have 2021.2.
You can either update your version of IJ (and IdeaVim as well), or reinstall the IdeaVim-EasyMotion plugin. After reinstalling the plugin, you should get version 1.7 now.

[2022-06-02 14:15] kiddoliu commented on #79
I change the version to 1.7. it has no proplem.
thank you very much.
IdeaVim-EasyMotion is very usefull.

[2022-06-02 14:15] #79 closed

[2022-06-14 14:56] zhenchuanzhiaa commented on #76
I get it too ！

[2022-06-21 20:10] SamShowalter commented on #58
Agreed, this is also something I find to be an issue. Is there any update? It would be nicer to restrict the selction and only pick single letter targets

[2022-06-24 05:37] AlexPl292 commented on #76
Hi folks!
1) Do you have https://plugins.jetbrains.com/plugin/13360-ideavim-easymotion plugin installed?
2) Do you have `set easymotion` in your `.ideavimrc`?
3) Will it work with 1.9 version of IdeaVim-EasyMotion?

If everything above doesn't help, could you please send your `.ideavimrc` file and [logs](https://intellij-support.jetbrains.com/hc/en-us/articles/207241085-Locating-IDE-log-files)?

[2022-06-24 05:39] cychen2021 commented on #76
It has been fixed by the 1.9 version.

[2022-06-24 05:39] #76 closed

[2022-07-15 10:59] ntrp opened #81 "Instead of searching prints `symotion-s)`"
For some reason instead of executing the command when I press <leader>f it simply executes literaly `(esymotion-s)` which ends up moving to the end of the word and printing `symotion-s)`

I enabled the plugin with `set easymotion` and added the binding from the example.

IJ version: 2022.1.3 Ultimate

All other plugins that do not require the `<Plug>` bindings work fine

[2022-07-18 06:16] AlexPl292 commented on #81
Hi, could you please attach your `~/.ideavimrc` and log (https://intellij-support.jetbrains.com/hc/en-us/articles/207241085-Locating-IDE-log-files)?

[2022-08-03 12:18] asleszyn commented on #81
Hey,

it looks like I have a similar issue. I want to change the default bindings. My `.ideavimrc` is:
[code]

When I use the key binding a new line is added containing: `verwin-w)`

I cannot attach logs since it's my work PC and they may contain sensitive data.

[2022-08-18 13:35] Stock84-dev commented on #81
You can also get this behavior if you haven't installed IdeaVim-EasyMotion plugin inside IDE.

[2022-08-22 08:48] asleszyn commented on #81
Hi @Stock84-dev,

I have the EasyMotion plugin installed and enabled.

[2022-08-23 11:55] DmgTrade commented on #81
Hi, I've got the same issue
IDEA 2022.2.1 (Community Edition)

`map <leader>j <Plug>(easymotion-f)`
printing `symotion-f)`

AceJump & IdeaVim-EasyMotion plugins installed

[2022-08-25 05:24] AlexPl292 commented on #81
@DmgTrade could you please provide log (https://intellij-support.jetbrains.com/hc/en-us/articles/207241085-Locating-IDE-log-files)?

[2022-08-25 07:38] DmgTrade commented on #81
@AlexPl292 just did a few things:
cleared idea.log
uncommented `map <leader>j <Plug>(easymotion-f)`
and resterted IDEA

easymotions works perfectly now

[idea_logs.zip](https://github.com/AlexPl292/IdeaVim-EasyMotion/files/9422505/idea_logs.zip)

[2022-09-08 09:14] rbhanot4739 commented on #47
Its been more than a year since I opened this issue and still there is no update on it.

[2022-10-07 14:31] dvygolov commented on #81
The same here. Installed acejump, install easymotion. My config:
[code]
after pressing "s" the cursor jumps a few lines back and then prints "symotion-f)" there :(

[2022-10-11 13:49] ris58h opened #85 "Jump to declaration"
I would like to jump to declaration using `IdeaVim-EasyMotion`.
I have `nmap f <Plug>(easymotion-bd-w)` in my `.ideavimrc` but I couldn't find the way to specify a `JumpMode`. Is it possible?

[2022-10-12 06:36] AlexPl292 commented on #85
Hi, this feature is not supported in easyMotion. Does it exist in the vim-easymotion?

[2022-10-12 07:30] ris58h commented on #85
I'm not sure because I don't use Vim, but it seems like it's not supported in vim-easymotion.
I just want to emulate [Vimium](https://github.com/philc/vimium) behavior where `f` is for `follow a link` in a browser, but in case of an IDE it would be `go to declaration`.

There is `gd` to `go to declaration` but I would like to do it automatically.
Is it possible in `IdeaVim-EasyMotion` to do `easym

[2022-10-17 04:39] AlexPl292 commented on #85
It's not supported in IdeaVim-EasyMotion yet, but this is a nice feature request. Also, I know that AceJump already supports this behavior.

[2022-10-29 16:26] introom opened #86 "Jump also selects text"
After jumping, for example, with easymotion-s, the text is also selected.
Before jump. Cursor is on "sed".
<img width="858" alt="image" src="https://user-images.githubusercontent.com/669045/198842415-e59c7550-46a2-441b-8a9a-b61fe5cdd45c.png">
After use easymotion-s2 with chars "LA".  The text is also highlighted.
<img width="733" alt="image" src="https://user-images.githubusercontent.com/669045/19

[2022-11-01 06:21] AlexPl292 commented on #86
Do you use capital letters for a jump? You should use lowercase letters.

[2022-11-01 06:24] introom commented on #86
Thanks. Using lowercase works. I used capital because the overlay char shows in capital. That could be feature that I misunderstand.

[2022-11-01 06:24] #86 closed

[2022-11-01 06:30] AlexPl292 commented on #86
@breandan this is not the first time I have seen users using the uppercase letters. Have you seen the same bugs? Maybe we can use lowercase letters on labels?

[2022-11-02 02:05] breandan commented on #86
Yes, we have a [feature request](https://github.com/acejump/AceJump/issues/352) along these lines which should be fairly simple to implement. The only tricky part is that lower case letters have different bounding boxes, so changes to [`TagMarker`](https://github.com/acejump/AceJump/blob/f17f4ef8c41cbc3efb031f88dca13b711cb34c51/src/main/kotlin/org/acejump/view/TagMarker.kt) are needed so that it d

[2022-11-10 16:53] codercodingthecode opened #87 "Suddenly stopped working"
I've been using this setup for nearly 2 years with no issues.
Today it stopped working for apparently no reason.
I have tried to re install the ide's. It actually stopped working on all, intelliJ, webstorm, pycharm. [latest stable version]
The basic ideavim commands work, but none easymotion work now.
`LL w, k, l, s`
and I use it A LOT.

I haven't yet detected or able to fix the issue.
Does anyone

[2022-11-12 06:45] AlexPl292 commented on #87
Have you filed this issue? https://youtrack.jetbrains.com/issue/VIM-2789
Let's continue the conversation in youtrack.

[2022-11-12 06:45] #87 closed

[2022-11-29 07:29] ris58h commented on #85
I've created https://github.com/easymotion/vim-easymotion/issues/494 to ask if it's possible to implement in the upstream repository.